<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.maateen.me/kalpurush/font.css" rel="stylesheet">
    <style type="text/css">
        body {
            font-family: "Kalpurush", sans-serif;
            font-size: 20px;
        }
    </style>
</head>
<body>

{{ person_name }}
{{ name_bangla }}
{{ id }}
<fieldset style="border-color: ash;">
	<div id="mydiv">
		<table width="100%" align="center" border="0">
			<tbody><tr>
				<td><div align="left"><label id="gridDark">DATE: </label><label id="gridLight">24/11/23</label></div></td>
			</tr>
			<tr>
				<td>
					<table align="center" width="100%">
						<tbody><tr>
							<td width="20%"></td>
							<td width="60%">
								<table align="center" width="100%">
									<tbody><tr id="gridDark"><th>MINISTRY OF PUBLIC ADMINISTRATION</th></tr>
									<tr id="gridDark"><th>PUBLIC ADMINISTRATION COMPUTER CENTRE (PACC)</th></tr>
									<tr id="gridDark"><th>LONG PDS OF OFFICER</th></tr>
								</tbody></table>
							</td>
							<td width="20%"><div align="center"></div></td>
						</tr>
					</tbody></table>
				</td>
			</tr>
			</tbody></table>
		<table width="100%" border="0">
			<tbody><tr>
				<td>
					<table width="100%" border="0">
						<tbody><tr>
							<td width="15%"><strong><i>GOVT ID: </i></strong>4127 </td>
							<td width="40%"><strong><i></i></strong><i></i><div align="left"><i><strong>NAME: </strong></i>MD KAMAL HOSSAIN </div></td>
							<td width="40%"><strong><i></i></strong><i></i><div align="left"><i><strong>NAME (BN): </strong></i>{{ name_bangla }}</div></td>
							<td width="5%" colspan="4">

							</td>
						</tr>
					</tbody></table>
				</td>
			</tr>
		</tbody></table>

<!-----------------------------------GENERAL INFORMATION------------------------------------------------------------>
				<table width="100%" border="0">
	<tbody><tr>
		<td>
			<table align="center" width="100%">
				<tbody><tr>
					<td colspan="8"><span class="td1">GENERAL INFORMATION</span></td>
				</tr>
				<tr>
					<td width="20%" class="td2"><div align="right">FATHER'S NAME</div></td>
					<td width="2%"><em><strong>:</strong></em></td>
					<td width="26%">S M ABUL HASHEM</td>
					<td width="20%" class="td2"><div align="right">MOTHER'S NAME</div></td>
					<td width="2%"><em><strong>:</strong></em></td>
					<td width="20%">MOSA. REZIA KHATUN</td>

				</tr>
				<tr>
					<td class="td2"><div align="right">DATE OF BIRTH</div></td>
					<td><em><strong>:</strong></em></td>
					<td>30/11/64</td>
					<td class="td2"><div align="right">LPR/PRL DATE</div></td>
					<td><em><strong>:</strong></em></td>
					<td>29/11/23</td>
				</tr>
				<tr>
					<td class="td2"><div align="right">RANK</div></td>
					<td><em><strong>:</strong></em></td>
					<td>SECRETARY</td>
					<td class="td2"><div align="right">HOME DIST</div></td>
					<td><em><strong>:</strong></em></td>
					<td>KHULNA</td>
				</tr>
				<tr>
					<td class="td2"><div align="right">DESIGNATION</div></td>
					<td><em><strong>:</strong></em></td>
					<td>SENIOR SECRETARY</td>

					<td class="td2"><div align="right">ORGANIZATION</div></td>
					<td><em><strong>:</strong></em></td>
					<td>TECHNICAL &amp; MADRASAH EDUCATION DIV, DHAKA</td>
				</tr>
				<tr>
					<td class="td2"><div align="right">ORDER DATE</div></td>
					<td><em><strong>:</strong></em></td>
					<td>01/11/22</td>
					<td class="td2"><div align="right">JOIN DATE</div></td>
					<td><em><strong>:</strong></em></td>
					<td>02/11/22</td>
				</tr>
				<tr>
					<td class="td2"><div align="right">CADRE</div></td>
					<td><em><strong>:</strong></em></td>
					<td>BCS(ADMINISTRATION)</td>

					<td class="td2"><div align="right">CADRE DATE</div></td>
					<td><em><strong>:</strong></em></td>
					<td>26/01/91</td>
				</tr>
				<tr>
					<td class="td2"><div align="right">BATCH</div></td>
					<td><em><strong>:</strong></em></td>
					<td>9TH</td>

					<td class="td2"><div align="right">CONFIRMATION G.O. DATE</div></td>
					<td><em><strong>:</strong></em></td>
					<td>26/01/91</td>
				</tr>
				<tr>
					<td class="td2"><div align="right">GENDER</div></td>
					<td><em><strong>:</strong></em></td>
					<td>MALE</td>

					<td class="td2"><div align="right">RELIGION</div></td>
					<td><em><strong>:</strong></em></td>
					<td>ISLAM</td>
				</tr>
				<tr>
					<td class="td2"><div align="right">MARITAL STAT</div></td>
					<td><em><strong>:</strong></em></td>
					<td><div align="left">MARRIED</div></td>
					<td class="td2"><div align="right">NID</div></td>
					<td><em><strong>:</strong></em></td>
					<td><div align="left">2693004764946</div></td>
				</tr>
				<tr>


					<td class="td2"><div align="right">FREEDOM FIGHTER</div></td>
					<td><em><strong>:</strong></em></td>
					<td>NO</td>
				</tr>
				<tr>
					<td class="td2"><div align="right">MOBILE</div></td>
					<td><em><strong>:</strong></em></td>
					<td>01817516052</td>

					<td class="td2"><div align="right">EMAIL</div></td>
					<td><em><strong>:</strong></em></td>
					<td>kamal_hossain15@yahoo.com</td>
				</tr>
			</tbody></table>
		</td>
	</tr>

	<!------------------------------------------SPOUSE INFORMATION------------------------------------------>


	<tr>
		<td>
			<table width="100%">
				<tbody><tr>
					<td id="gridDarkSh" colspan="9" class="td1">SPOUSE INFORMATION</td>
				</tr>
				<tr>


					<td width="10%" class="td2"><div align="right">NAME</div></td>
					<td width="2%"><em><strong>:</strong></em></td>
					<td width="20%"><div align="left">SULTANA PARVIN</div></td>

					<td width="15%" class="td2"><div align="right">OCCUPATION</div></td>
					<td width="2%"><em><strong>:</strong></em></td>
					<td width="15%"><div align="left">HOUSE WIFE</div></td>

					<td width="15%" class="td2"><div align="right">DESIGNATION</div></td>
					<td width="2%"><em><strong>:</strong></em></td>
					<td width="15%"><div align="left">NOT APPLICABLE</div></td>
				</tr>
				<tr>
					<td class="td2"><div align="right">HOME DIST</div></td>
					<td><em><strong>:</strong></em></td>
					<td><div align="left">NOT MENTIONED</div></td>

					<td class="td2"><div align="right">ORGANISATION</div></td>
					<td><em><strong>:</strong></em></td>
					<td><div align="left">NOT APPLICABLE</div></td>

					<td class="td2"><div align="right">LOCATION</div></td>
					<td><em><strong>:</strong></em></td>
					<td><div align="left">NOT APPLICABLE</div></td>
				</tr>
			</tbody></table>
		</td>
	</tr>

	<!------------------------------------------ADDRESS INFORMATION------------------------------------------>


	<tr>
		<td>
			<table width="100%">
				<tbody><tr>
					<td id="gridDarkSh" colspan="3" class="td1">PERMANENT ADDRESS</td>
					<td id="gridDarkSh" colspan="3" class="td1">PRESENT ADDRESS</td>
				</tr>
				<tr>


					<td width="24%" class="td2"><div align="right">VILLAGE/HOUSE NO.&amp; ROAD</div></td>
					<td width="2%"><em><strong>:</strong></em></td>
					<td width="24%"><div align="left">BORO BOYRA POLICE LINE ROAD BAKULTALA</div></td>

					<td width="24%" class="td2"><div align="right">VILLAGE/HOUSE NO.&amp; ROAD</div></td>
					<td width="2%"><em><strong>:</strong></em></td>
					<td width="24%"><div align="left"></div></td>
				</tr>
				<tr>
					<td class="td2"><div align="right">POST OFFICE</div></td>
					<td><em><strong>:</strong></em></td>
					<td><div align="left">KHULNA GPO</div></td>

					<td class="td2"><div align="right">POST OFFICE</div></td>
					<td><em><strong>:</strong></em></td>
					<td><div align="left"></div></td>
				</tr>
				<tr>
					<td class="td2"><div align="right">POLICE STATION</div></td>
					<td><em><strong>:</strong></em></td>
					<td><div align="left">KHALISHPUR</div></td>

					<td class="td2"><div align="right">POLICE STATION</div></td>
					<td><em><strong>:</strong></em></td>
					<td><div align="left"></div></td>
				</tr>
				<tr>
					<td class="td2"><div align="right">DISTRICT</div></td>
					<td><em><strong>:</strong></em></td>
					<td><div align="left">KHULNA</div></td>

					<td class="td2"><div align="right">DISTRICT</div></td>
					<td><em><strong>:</strong></em></td>
					<td><div align="left"></div></td>
				</tr>
				<tr>
					<td class="td2"><div align="right">TELEPHONE NO.</div></td>
					<td><em><strong>:</strong></em></td>
					<td width="15"><div align="left">01817-516052</div></td>

					<td class="td2"><div align="right">TELEPHONE NO.</div></td>
					<td><em><strong>:</strong></em></td>
					<td width="15"><div align="left">01817-516052</div></td>
				</tr>
			</tbody></table>
		</td>
	</tr>

	<!------------------------------------------CHILDREN INFORMATION------------------------------------------>
	<tr>
		<td>
			<table width="100%" border="0">
				<tbody><tr>
					<td id="gridDarkSh" colspan="3" class="td1">CHILDREN INFORMATION</td>
				</tr>
				<tr>
					<td width="30%" class="td3">NAME</td>
					<td width="20%" class="td3">BIRTH DATE</td>
					<td width="50%" class="td3">SEX</td>
				</tr>
									<tr>
					<td><div align="center">SAIMA AFRIN TITHI</div></td>
					<td><div align="center">05/09/94</div></td>
					<td><div align="center">FEMALE</div></td>
		  		</tr>
							</tbody></table>
		</td>
	</tr>
	<!------------------------------------------OFFICERS LANGUAGE INFORMATION------------------------------------------>
	<tr>
		<td>
			<table width="100%">
				<tbody><tr>
					<td id="gridDarkSh" colspan="4" class="td1">OFFICER'S LANGUAGE INFORMATION</td>
				</tr>
				<tr>
					<td width="20%" class="td3">LANGUAGE</td>
					<td width="10%" class="td3">READ</td>
					<td width="10%" class="td3">WRITE</td>
					<td width="60%" class="td3">SPEAK</td>
				</tr>
									<tr>
					<td>BANGLA</td>
					<td>Y</td>
					<td>Y</td>
					<td>Y</td>
				</tr>
								<tr>
					<td>ENGLISH</td>
					<td>Y</td>
					<td>Y</td>
					<td>Y</td>
				</tr>
								<tr>
					<td>ARABIC</td>
					<td>Y</td>
					<td>-</td>
					<td>-</td>
				</tr>
							</tbody></table>
		</td>
	</tr>
	<!------------------------------------------EDUCATIONAL QUALIFICATION------------------------------------------>
	<tr>
		<td>
			<table width="100%" align="center">
				<tbody><tr>
					<td id="gridDarkSh" colspan="7" class="td1">EDUCATIONAL QUALIFICATION</td>
				</tr>
				<tr>
					<td width="25%" class="td3">NAME OF INSTITUTION</td>
					<td width="20%" class="td3">PRINCIPAL SUBJECT</td>
					<td width="10%" class="td3">DEGREE</td>
					<td width="15%" class="td3">PASSING YEAR</td>
					<td width="10%" class="td3">RESULT</td>
					<td width="10%" class="td3">GPA/CGPA</td>
					<td width="10%" class="td3">DISTINCTION</td>
				</tr>
							    <tr>
					<td>KHULNA ZILA SHCOOL</td>
					<td>NOT APPLICABLE</td>
					<td>SSC</td>
					<td>1980</td>
					<td>1ST DIV</td>
					<td></td>
					<td></td>
		  		</tr>
							    <tr>
					<td>GOVT B L COLLEGE</td>
					<td>NOT APPLICABLE</td>
					<td>HSC</td>
					<td>1982</td>
					<td>1ST DIV</td>
					<td></td>
					<td></td>
		  		</tr>
							    <tr>
					<td>DHAKA UNIVERSITY</td>
					<td>BIO CHEMISTRY</td>
					<td>B SC (HONS)</td>
					<td>1985</td>
					<td>2ND CLASS</td>
					<td></td>
					<td></td>
		  		</tr>
							    <tr>
					<td>DHAKA UNIVERSITY</td>
					<td>BIO CHEMISTRY</td>
					<td>M SC</td>
					<td>1986</td>
					<td>1ST CLASS</td>
					<td></td>
					<td></td>
		  		</tr>
							    <tr>
					<td>THE FLINDERS UNIVERSITY, AUSTRALIA</td>
					<td>PUBLIC ADMINISTRATION</td>
					<td>MPA</td>
					<td>2007</td>
					<td>NOT APPLICABLE</td>
					<td></td>
					<td></td>
		  		</tr>
							</tbody></table>
		</td>
	</tr>
	<!------------------------------------------LOCAL TRAINING (MANDATORY)------------------------------------------>
	<tr>
		<td>
			<table width="100%" align="center">
				<tbody><tr>
					<td colspan="5" class="td1">LOCAL TRAINING (MANDATORY)</td>
				</tr>
				<tr>
					<td width="43%" class="td3">COURSE TITLE</td>
					<td width="25%" class="td3">INSTITUTION</td>
					<td width="8%" class="td3">POSITION</td>
					<td width="12%" class="td3">FROM DATE</td>
					<td width="10%" class="td3">TO DATE</td>
					<td width="10%" class="td3">DURATION (Y-M-D)</td>
				</tr>
								<tr>
					<td>SPECIAL FOUNDATION COURSE (15TH)</td>
					<td>BPATC SAVAR</td>
					<td>50</td>
					<td>24/04/91</td>
					<td>20/06/91</td>
					<td>0 - 1 - 28  </td>
				</tr>
								<tr>
					<td>LAW &amp; ADMINISTRATION (21ST)</td>
					<td>BCS(ADMN) ACADEMY</td>
					<td></td>
					<td>10/04/93</td>
					<td>09/08/93</td>
					<td>0 - 4 - 0  </td>
				</tr>
								<tr>
					<td>SURVEY AND SETTLEMENT TRAINING</td>
					<td>DTE OF LAND RECORDS AND SURVEY</td>
					<td></td>
					<td>14/11/96</td>
					<td>08/01/97</td>
					<td>0 - 1 - 26  </td>
				</tr>
								<tr>
					<td>88TH ACAD COURSE</td>
					<td>BPATC SAVAR</td>
					<td></td>
					<td>18/12/12</td>
					<td>31/01/13</td>
					<td>0 - 1 - 14  </td>
				</tr>
							</tbody></table>
		</td>
	</tr>

	<!------------------------------------------LOCAL TRAINING------------------------------------------>
	<tr>
		<td>
			<table width="100%" align="center">
				<tbody><tr>
					<td colspan="5" class="td1">LOCAL TRAINING</td>
				</tr>
				<tr>
					<td width="43%" class="td3">COURSE TITLE</td>
					<td width="25%" class="td3">INSTITUTION</td>
					<td width="8%" class="td3">POSITION</td>
					<td width="12%" class="td3">FROM DATE</td>
					<td width="10%" class="td3">TO DATE</td>
					<td width="10%" class="td3">DURATION (Y-M-D)</td>
				</tr>
								<tr>
					<td>2ND SECRETARIAT MANAGEMENT COURSE</td>
					<td>BCS(ADMN) ACADEMY</td>
					<td></td>
					<td>08/02/91</td>
					<td>08/04/91</td>
					<td>0 - 2 - 1  </td>
				</tr>
								<tr>
					<td>BCS ORIENTATION COURSE (23RD)</td>
					<td>BMA BHATIARY CTG</td>
					<td></td>
					<td>09/10/93</td>
					<td>11/11/93</td>
					<td>0 - 1 - 3  </td>
				</tr>
								<tr>
					<td>MANAGING AT THE TOP-2 (BATCH-29)</td>
					<td>BPATC SAVAR</td>
					<td></td>
					<td>09/01/11</td>
					<td>21/01/11</td>
					<td>0 - 0 - 13  </td>
				</tr>
							</tbody></table>
		</td>
	</tr>
	<!------------------------------------------FOREIGN TRAINING------------------------------------------>
	<tr>
		<td>
			<table width="100%" align="center">
				<tbody><tr>
					<td colspan="5" class="td1">FOREIGN TRAINING</td>
				</tr>
				<tr>
					<td width="43%" class="td3">COURSE TITLE</td>
					<td width="25%" class="td3">COUNTRY</td>
				    <td width="12%" class="td3">FROM DATE</td>
				    <td width="10%" class="td3">TO DATE</td>
					<td width="10%" class="td3">DURATION (Y-M-D)</td>
				</tr>
								<tr>
					<td>MASTERS OF PUBLIC ADMINISTRATION(POLICY)</td>
					<td>AUSTRALIA</td>
					<td>10/01/06</td>
					<td>31/12/07 </td>
					<td>1 - 11 - 22  </td>

				</tr>
							</tbody></table>
		</td>
	</tr>

	<!------------------------------------------FOREIGN TRAVEL------------------------------------------>
	<tr>
		<td>
			<table width="100%" align="center" border="0">
				<tbody><tr>
					<td colspan="5" class="td1">FOREIGN TRAVEL</td>
				</tr>
				<tr>
					<td width="20%" class="td3">COUNTRY</td>
					<td width="20%" class="td3">PURPOSE</td>
					<td width="12%" class="td3">FROM DATE</td>
				    <td width="12%" class="td3">TO DATE</td>
					<td width="36%" class="td3">DURATION (Y-M-D)</td>
				</tr>
								<tr>
					<td>MALAYSIA</td>
					<td>ACAD STUDY TOUR</td>
					<td>18/05/13</td>
					<td>27/05/13</td>
					<td>0 - 0 - 10  </td>
				</tr>
							</tbody></table>
		</td>
	</tr>
	<!------------------------------------------POSTING ABROAD------------------------------------------>
	<tr>
		<td>
			<table width="100%" align="center">
				<tbody><tr>
					<td id="gridDarkSh" colspan="5" class="td1">POSTING ABROAD</td>
				</tr>
				<tr>
					<td width="28%" class="td3">POST</td>
					<td width="30%" class="td3">ORGANISATION</td>
					<td width="20%" class="td3">COUNTRY</td>
				    <td width="12%" class="td3">FROM</td>
					<td width="10%" class="td3">TO</td>
				</tr>
							</tbody></table>
		</td>
	</tr>

	<!------------------------------------------ADDITIONAL PROFESSIONAL QUALIFICATION------------------------------------------>
	<tr>
		<td>
			<table width="100%" align="center">
				<tbody><tr>
					<td id="gridDarkSh" colspan="1" class="td1">ADDITIONAL PROFESSIONAL QUALIFICATION</td>
				</tr>
				<tr>
					<td width="100%" class="td3">QUALIFICATION</td>
				</tr>
							</tbody></table>
		</td>
	</tr>

	<!------------------------------------------PUBLICATION------------------------------------------>
	<tr>
		<td>
			<table width="100%" align="center">
				<tbody><tr>
					<td id="gridDarkSh" colspan="6" class="td1">PUBLICATION</td>
				</tr>
				<tr>
					<td width="10%" class="td3">BOOKS</td>
					<td width="10%" class="td3">PERIODICALS</td>
					<td width="10%" class="td3">MONOGRAPH</td>
					<td width="10%" class="td3">JOURNALS</td>
					<td width="50%" class="td3">DESCRIPTION</td>
					<td width="10%" class="td3">DATE</td>
				</tr>
							</tbody></table>
		</td>
	</tr>

	<!------------------------------------------HONOURS AND AWARD------------------------------------------>
	<tr>
		<td>
			<table width="100%" align="center">
				<tbody><tr>
					<td id="gridDarkSh" colspan="3" class="td1">HONOURS AND AWARD</td>
				</tr>
				<tr>
					<td width="50%" class="td3">TITLE OF AWARD</td>
					<td width="40%" class="td3">GROUND</td>
					<td width="10%" class="td3">DATE</td>
				</tr>
							</tbody></table>
		</td>
	</tr>

	<!------------------------------------------OTHER SERVICES (PRIOR CIVILIAN GAZETTED POST/RANK)------------------------------------------>
	<tr>
		<td>
			<table width="100%" align="center">
				<tbody><tr>
					<td id="gridDarkSh" colspan="6" class="td1">OTHER SERVICES (PRIOR CIVILIAN GAZETTED POST/RANK)</td>
				</tr>
				<tr>
					<td width="20%" class="td3">NAME OF EMPLOYEER</td>
					<td width="30%" class="td3">ADDRESS</td>
					<td width="20%" class="td3">TYPE OF SERVICE</td>
					<td width="10%" class="td3">POSITION</td>
					<td width="10%" class="td3">FROM</td>
					<td width="10%" class="td3">TO</td>
				</tr>
							</tbody></table>
		</td>
	</tr>

	<!------------------------------------------SERVICE HISTORY------------------------------------------>
	<tr>
		<td>
			<table width="100%" align="center">
				<tbody><tr>
					<td id="gridDarkSh" colspan="5" class="td1">SERVICE HISTORY</td>
				</tr>
				<tr>
					<td width="20%" class="td3">GOVT. SERVICE DATE</td>
					<td width="16%" class="td3">GAZETTED DATE</td>
					<td width="18%" class="td3">ENCADREMENT DATE</td>
					<!--<td width="18%" class="td3">SENIORITY DATE</td>-->
					<td width="28%" class="td3">CADRE</td>
				</tr>
								<tr>
					<td>26/01/91</td>
					<td>22/12/90</td>
					<td>26/01/91</td>
					<!--<td></td>-->
					<td>BCS(ADMINISTRATION)</td>
				</tr>
							</tbody></table>
		</td>
	</tr>

	<!------------------------------------------PROPOTION PARTICULARS------------------------------------------>
	<tr>
		<td>
			<table width="100%" align="center">
				<tbody><tr>
					<td id="gridDarkSh" colspan="5" class="td1">PROMOTION PARTICULARS</td>
				</tr>
				<tr>
					<td width="40%" class="td3">RANK</td>
					<td width="15%" class="td3">PROMOTION DATE</td>
					<td width="10%" class="td3">G.O. DATE</td>
					<td width="20%" class="td3">NATURE OF PROMOTION</td>
					<td width="15%" class="td3">PAY SCALE</td>
				</tr>
								<tr>
					<td>ASSISTANT SECRETARY</td>
					<td>22/12/94</td>
					<td></td>
					<td>SELECTION GRADE</td>
					<td>4100-6500/-</td>
				</tr>
								<tr>
					<td>SR ASSISTANT SECRETARY</td>
					<td>04/03/97</td>
					<td></td>
					<td>SENIOR SCALE</td>
					<td>4800-7250/-</td>
				</tr>
								<tr>
					<td>SR ASSISTANT SECRETARY</td>
					<td>21/10/04</td>
					<td>13/12/04</td>
					<td>SELECTION GRADE</td>
					<td>9500-12100/-</td>
				</tr>
								<tr>
					<td>DY. SECRETARY</td>
					<td>15/10/06</td>
					<td>28/01/08</td>
					<td>SENIORITY</td>
					<td>13750-19250/-</td>
				</tr>
								<tr>
					<td>DY. SECRETARY</td>
					<td>21/10/12</td>
					<td>04/03/13</td>
					<td>TIME SCALE</td>
					<td>25750-33750/-</td>
				</tr>
								<tr>
					<td>JOINT SECRETARY</td>
					<td>06/04/15</td>
					<td>13/04/16</td>
					<td>SENIORITY</td>
					<td>29000-35600/-</td>
				</tr>
								<tr>
					<td>ADDL. SECRETARY</td>
					<td>11/12/17</td>
					<td>22/01/18</td>
					<td>SENIORITY</td>
					<td>66000-76490/-</td>
				</tr>
								<tr>
					<td>SECRETARY</td>
					<td>09/03/20</td>
					<td>09/03/20</td>
					<td>REGULAR</td>
					<td>78000/- (FIXED)</td>
				</tr>
							</tbody></table>
		</td>
	</tr>
	<!------------------------------------------DISCIPLINARY ACTIONS/CRIMINAL PROSECUTION------------------------------------------>
	<tr>
		<td>
			<table width="100%" align="center">
				<tbody><tr>
					<td id="gridDarkSh" colspan="4" class="td1">DISCIPLINARY ACTIONS/CRIMINAL PROSECUTION</td>
				</tr>
				<tr>
					<td width="30%" class="td3">NATURE OF OFFENCE</td>
					<td width="42%" class="td3">PUNISHMENT</td>
					<td width="8%" class="td3">DATE</td>
					<td width="20%" class="td3">REMARKS</td>
				</tr>
							</tbody></table>
		</td>
	</tr>
	<!------------------------------------------POSTING RECORDS------------------------------------------>

	<tr>
		<td>
			<table width="100%" align="center" border="0">
				<tbody><tr>
					<td id="gridDarkSh" colspan="6" class="td1">POSTING RECORDS</td>
				</tr>
				<tr>
					<td width="30%" class="td3">DESIGNATION</td>
					<td width="33%" class="td3">ORGANIZATION</td>
				    <td width="15%" class="td3">LOCATION</td>
				    <td width="12%" class="td3">FROM DATE</td>
					<td width="10%" class="td3">TO DATE</td>
					<td width="10%" class="td3">PAY SCALE</td>
				</tr>
										<tr>
							<td>ASSISTANT SECRETARY</td>
							<td>M/O HEALTH AND FW</td>
							<td>DHAKA</td>
							<td>26/01/91</td>
							<td>02/08/92</td>
							<td>1650-3020/-</td>
						</tr>
												<tr>
							<td>ASSISTANT COMMISSIONER</td>
							<td>DIV COMM OFFICE CHATTOGRAM</td>
							<td>CHATTOGRAM</td>
							<td>03/08/92</td>
							<td>10/08/92</td>
							<td>2850-5155/-</td>
						</tr>
												<tr>
							<td>ASSISTANT COMMISSIONER</td>
							<td>DC OFFICE RANGAMATI HTS</td>
							<td>RANGAMATI</td>
							<td>11/08/92</td>
							<td>11/11/96</td>
							<td>2850-5155/-</td>
						</tr>
												<tr>
							<td>ASSISTANT COMMISSIONER</td>
							<td>DC OFFICE BRAHMANBARIA</td>
							<td>BRAHMANBARIA</td>
							<td>12/11/96</td>
							<td>04/03/97</td>
							<td>4100-6500/-</td>
						</tr>
												<tr>
							<td>SENIOR ASSISTANT COMMISSIONER</td>
							<td>DC OFFICE BRAHMANBARIA</td>
							<td>BRAHMANBARIA</td>
							<td>04/03/97</td>
							<td>19/04/00</td>
							<td>4800-7250/-</td>
						</tr>
												<tr>
							<td>PLACED UNDER</td>
							<td>M/O LAND</td>
							<td>DHAKA</td>
							<td>25/06/00</td>
							<td>14/08/01</td>
							<td>7200-10840/-</td>
						</tr>
												<tr>
							<td>UPAZILA NIRBAHI OFFICER</td>
							<td>COMPANIGANJ</td>
							<td>NOAKHALI</td>
							<td>16/08/01</td>
							<td>06/02/02</td>
							<td>7200-10840/-</td>
						</tr>
												<tr>
							<td>COMPULSORY WAITING</td>
							<td>M/O PUBLIC ADMINISTRATION</td>
							<td>DHAKA</td>
							<td>07/02/02</td>
							<td>12/02/02</td>
							<td>7200-10840/-</td>
						</tr>
												<tr>
							<td>SENIOR ASSISTANT SECRETARY</td>
							<td>PRIMARY &amp; MASS EDUCATION DIVISION</td>
							<td>DHAKA</td>
							<td>12/02/02</td>
							<td>12/06/04</td>
							<td>7200-10840/-</td>
						</tr>
												<tr>
							<td>SENIOR ASSISTANT SECRETARY</td>
							<td>M/O WOMEN AND CHILDREN AFFAIRS</td>
							<td>DHAKA</td>
							<td>13/06/04</td>
							<td>09/01/06</td>
							<td>7200-10840/-</td>
						</tr>
												<tr>
							<td>OSD ON STUDY (DEPUTATION)</td>
							<td>M/O PUBLIC ADMINISTRATION</td>
							<td>DHAKA</td>
							<td>10/01/06</td>
							<td>27/01/08</td>
							<td>13750-19250/-</td>
						</tr>
												<tr>
							<td>OSD(DY. SECRETARY)</td>
							<td>M/O PUBLIC ADMINISTRATION</td>
							<td>DHAKA</td>
							<td>28/01/08</td>
							<td>17/05/08</td>
							<td>13750-19250/-</td>
						</tr>
												<tr>
							<td>DIRECTOR</td>
							<td>BD PUBLIC SERVICE COMMISSION SECTT</td>
							<td>DHAKA</td>
							<td>20/05/08</td>
							<td>21/02/10</td>
							<td>13750-19250/-</td>
						</tr>
												<tr>
							<td>DEPUTY DIRECTOR</td>
							<td>PRIMARY EDUCATION DEV PROGRAMME PHASE-2</td>
							<td>DHAKA</td>
							<td>22/02/10</td>
							<td>17/09/11</td>
							<td>22250-31250/-</td>
						</tr>
												<tr>
							<td>DEPUTY DIRECTOR</td>
							<td>DEPTT OF PRIMARY EDUCATION</td>
							<td>DHAKA</td>
							<td>18/09/11</td>
							<td>04/12/11</td>
							<td>22250-31250/-</td>
						</tr>
												<tr>
							<td>PLACED UNDER</td>
							<td>M/O PUBLIC ADMINISTRATION</td>
							<td>DHAKA</td>
							<td>05/12/11</td>
							<td>19/12/11</td>
							<td>22250-31250/-</td>
						</tr>
												<tr>
							<td>OSD(DY. SECRETARY)</td>
							<td>M/O PUBLIC ADMINISTRATION</td>
							<td>DHAKA</td>
							<td>20/12/11</td>
							<td>14/01/12</td>
							<td>22250-31250/-</td>
						</tr>
												<tr>
							<td>DEPUTY PROJECT DIRECTOR</td>
							<td>DIGITAL LAND MANAGEMENT PROJ</td>
							<td>DHAKA</td>
							<td>15/01/12</td>
							<td>09/07/12</td>
							<td>22250-31250/-</td>
						</tr>
												<tr>
							<td>ADDITIONAL PROJECT DIRECTOR</td>
							<td>SKILL DEVELOPMENT PROJECT</td>
							<td>DHAKA</td>
							<td>10/07/12</td>
							<td>31/03/15</td>
							<td>22250-31250/-</td>
						</tr>
												<tr>
							<td>DEPUTY PROJECT DIRECTOR</td>
							<td>SKILLS FOR EMPLOYMENT INVESTMENT PROGRAM PROJ</td>
							<td>DHAKA</td>
							<td>01/04/15</td>
							<td>31/03/16</td>
							<td>CONSOLIDATED PAY</td>
						</tr>
												<tr>
							<td>OSD(DY. SECRETARY)</td>
							<td>M/O PUBLIC ADMINISTRATION</td>
							<td>DHAKA</td>
							<td>03/04/16</td>
							<td>14/05/16</td>
							<td>50000-71200/-</td>
						</tr>
												<tr>
							<td>OSD(JOINT SECRETARY)</td>
							<td>M/O PUBLIC ADMINISTRATION</td>
							<td>DHAKA</td>
							<td>13/04/16</td>
							<td>08/05/16</td>
							<td>56500-74400/-</td>
						</tr>
												<tr>
							<td>DEPUTY PROJECT DIRECTOR</td>
							<td>SKILLS FOR EMPLOYMENT INVESTMENT PROGRAM PROJ</td>
							<td>DHAKA</td>
							<td>09/05/16</td>
							<td>31/12/17</td>
							<td>CONSOLIDATED PAY</td>
						</tr>
												<tr>
							<td>OSD(JOINT SECRETARY)</td>
							<td>M/O PUBLIC ADMINISTRATION</td>
							<td>DHAKA</td>
							<td>01/01/18</td>
							<td>21/01/18</td>
							<td>56500-74400/-</td>
						</tr>
												<tr>
							<td>OSD(ADDITIONAL SECRETARY)</td>
							<td>M/O PUBLIC ADMINISTRATION</td>
							<td>DHAKA</td>
							<td>22/01/18</td>
							<td>12/03/18</td>
							<td>66000-76490/-</td>
						</tr>
												<tr>
							<td>DEPUTY EXE PROJ DIRECTOR</td>
							<td>SKILLS FOR EMPLOYMENT INVESTMENT PROGRAM PROJ</td>
							<td>DHAKA</td>
							<td>13/03/18</td>
							<td>10/07/19</td>
							<td>CONSOLIDATED PAY</td>
						</tr>
												<tr>
							<td>DIRECTOR GENERAL</td>
							<td>WORLD TRADE ORGANISATION CELL</td>
							<td>DHAKA</td>
							<td>14/07/19</td>
							<td>08/03/20</td>
							<td>66000-76490/-</td>
						</tr>
												<tr>
							<td>SECRETARY (CO-ORDN &amp; REFORMS)</td>
							<td>CABINET DIVISION</td>
							<td>DHAKA</td>
							<td>10/03/20</td>
							<td>08/02/22</td>
							<td>78000/- (FIXED)</td>
						</tr>

			</tbody></table>
		</td>
	</tr>
					<tr>
			<td>
				<table width="100%" align="center" border="0">
					<tbody><tr>
						<td colspan="3" width="70%" class="td3"></td>
						<td width="15%" class="td3">ORDER DATE</td>
						<td width="12%" class="td3">JOIN DATE</td>
						<td width="10%" class="td3">RELEASE DATE</td>
						<td width="10%" class="td3">PAY SCALE</td>
					</tr>

											<tr>
								<td>SECRETARY</td>
								<td>TECHNICAL &amp; MADRASAH EDUCATION DIV</td>
								<td>DHAKA</td>
								<td align="center">09/02/22</td>								<td>
											<table style="background-color: white; border-collapse:collapse; empty-cells: show;" border="1" cellpadding="2" cellspacing="0" width="100">
												<tbody><tr><td width="100" height="18"><font face="SutonnyMJ" size="2"><div align="CENTER"></div></font> </td>
											</tr></tbody></table>
										</td>								<td>
											<table style="background-color: white; border-collapse:collapse; empty-cells: show;" border="1" cellpadding="2" cellspacing="0" width="100">
												<tbody><tr><td width="100" height="18"><font face="SutonnyMJ" size="2"><div align="CENTER"></div></font> </td>
											</tr></tbody></table>
										</td>								<td>78000/- (FIXED)</td>
							</tr>
														<tr>
								<td>SENIOR SECRETARY</td>
								<td>TECHNICAL &amp; MADRASAH EDUCATION DIV</td>
								<td>DHAKA</td>
								<td align="center">01/11/22</td>								<td align="center">02/11/22</td>								<td>
											<table style="background-color: white; border-collapse:collapse; empty-cells: show;" border="1" cellpadding="2" cellspacing="0" width="100">
												<tbody><tr><td width="100" height="18"><font face="SutonnyMJ" size="2"><div align="CENTER"></div></font> </td>
											</tr></tbody></table>
										</td>								<td>82000/- (FIXED)</td>
							</tr>


				</tbody></table>
			</td>
		</tr>

</tbody></table>
	<table align="right" width="100%" border="0">
				<tbody><tr><td width="60%"></td><th><div align="center"><br><br><br><br>Signature &amp; Seal of Officer <br>Whose Particulars has been printed<br><br></div></th></tr>
				</tbody></table>

	<table width="650" align="center">
						<tbody><tr><th>Last Update : 23/11/23 Time : 21:28:55</th></tr>
	</tbody></table>
	</div>
</fieldset>
</body>
</html>