<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.maateen.me/kalpurush/font.css" rel="stylesheet">
    <link href="http://pmis.mopa.gov.bd/pmis/css/stylesheet.css" rel="stylesheet">
    <link href="http://pmis.mopa.gov.bd/pmis/css/main.css" rel="stylesheet">
    <style type="text/css">
        @media print {
            .header, .hide { visibility: hidden }
            .URL, .hide { display: none; }
            .Date/Time, .hide { display: none; }
        }
        #st1{
            text-decoration: none;
            font-family:Arial;
            font-size: 12px;
            line-height:200%;
        }
        #gridDarkSh
        {
            font-family:Arial;
            font-size: 12px;
            font-weight:bold;
            text-decoration:none;
            background-color: #eee;
        }
        #gridDark
        {
            font-family:Arial;
            font-size: 12px;
            font-weight:bold;
            text-decoration:none;
        }
        #gridDarkU
        {
            font-family:Arial;
            font-size: 12px;
            font-weight:bold;
            text-decoration:underline;
        }
        #gridLight
        {
            font-family:Arial;
            font-size: 12px;
            text-decoration:none;
        }
        #gridLightAlt
        {
            font-family:Arial;
            font-size: 12px;
            text-decoration:none;
            background-color: #eee;
        }
    </style>
    <script type="text/javascript">
        function printContent(el) {
            var restorepage = document.body.innerHTML;
            var printcontent = document.getElementById(el).innerHTML;
            document.body.innerHTML = printcontent;
            window.print();
            document.body.innerHTML = restorepage;
        }
    </script>
</head>
<body><!-- background="http://pmis.mopa.gov.bd/pmis/image/bg.jpg" style="background-repeat:repeat-x" scroll="yes" onfocus="parent_disable();" onclick="parent_disable();"> -->
	<table><!-- width="900" align="center" cellpadding="0" cellspacing="0"> -->
		<tbody>
		<tr>
			<td> <!-- background="http://pmis.mopa.gov.bd/pmis/image/bgMiddle.png"> -->
				<table width="898">
					<tbody>
                    <tr>
						<td width="10">&nbsp;</td>
						<td>
                            <!--
                            <table width="100%" border="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div align="right"><a href="#">
                                                <img src="http://pmis.mopa.gov.bd/pmis/image/printer.gif" border="0" onclick="printContent(&quot;mydiv&quot;);"></a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            -->

                            <fieldset style="border-color: ash;">
                                <div id="mydiv">
                                    <!--
                                    <table width="100%" align="center" border="0">
                                        <tbody>
                                        <tr>
                                            <td><div align="left"><label id="gridDark">DATE: </label><label id="gridLight">24/11/23</label></div></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table align="center" width="100%">
                                                    <tbody><tr>
                                                        <td width="20%"></td>
                                                        <td width="60%">
                                                            <table align="center" width="100%">
                                                                <tbody><tr id="gridDark"><th>MINISTRY OF PUBLIC ADMINISTRATION</th></tr>
                                                                <tr id="gridDark"><th>PUBLIC ADMINISTRATION COMPUTER CENTRE (PACC)</th></tr>
                                                                <tr id="gridDark"><th>LONG PDS OF OFFICER</th></tr>
                                                            </tbody></table>
                                                        </td>
                                                        <td width="20%"><div align="center"></div></td>
                                                    </tr>
                                                </tbody></table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    -->
                                    <table width="100%" border="0">
                                        <tbody>
                                        <tr>
                                            <td>
                                                <table width="100%" border="0">
                                                    <tbody>
                                                    <tr>
                                                        <td width="15%"><strong><i>GOVT ID: </i></strong>{{ govt_id }}</td>
                                                        <td width="40%"><strong><i></i></strong><i></i><div align="left"><i><strong>NAME: </strong></i>{{ person_name }}</div></td>
                                                        <td width="40%"><strong><i></i></strong><i></i><div align="left"><i><strong>NAME (BN): </strong></i><font style="font-family: Kalpurush; font-weight: none; font-size: 16px;">{{ name_bangla }}</font></div></td>
                                                        <td width="5%" colspan="4">
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                            <!-----------------------------------GENERAL INFORMATION------------------------------------------------------------>
                                    <table width="100%" border="0">
                                    <tbody>
                                    <tr>
                                        <td>
                                            <table align="center" width="100%">
                                                <tbody><tr>
                                                    <td colspan="8"><span class="td1">GENERAL INFORMATION</span></td>
                                                </tr>
                                                <tr>
                                                    <td width="20%" class="td2"><div align="right">FATHER'S NAME</div></td>
                                                    <td width="2%"><em><strong>:</strong></em></td>
                                                    <td width="26%">{{ father_name }}</td>
                                                    <td width="20%" class="td2"><div align="right">MOTHER'S NAME</div></td>
                                                    <td width="2%"><em><strong>:</strong></em></td>
                                                    <td width="20%">{{ mother_name }}</td>
                                                    <td width="10%" colspan="2" rowspan="8"><div align="center"><img src="http://pmis.mopa.gov.bd/pmis/Forms/showimage.php?GOV_ID={{ govt_id }}" height="120" width="100"></div></td>
                                                </tr>
                                                <tr>
                                                    <td class="td2"><div align="right">DATE OF BIRTH</div></td>
                                                    <td><em><strong>:</strong></em></td>
                                                    <td>{{ date_of_birth | date:'d/m/y' }}</td>
                                                    <td class="td2"><div align="right">LPR/PRL DATE</div></td>
                                                    <td><em><strong>:</strong></em></td>
                                                    <td>{{ lpr_prl_date | date:'d/m/y' }}</td>
                                                </tr>
                                                <tr>
                                                    <td class="td2"><div align="right">RANK</div></td>
                                                    <td><em><strong>:</strong></em></td>
                                                    <td>{{ rank }}</td>
                                                    <td class="td2"><div align="right">HOME DIST</div></td>
                                                    <td><em><strong>:</strong></em></td>
                                                    <td>{{ home_district }}</td>
                                                </tr>
                                                <tr>
                                                    <td class="td2"><div align="right">DESIGNATION</div></td>
                                                    <td><em><strong>:</strong></em></td>
                                                    <td>{{ designation }}</td>

                                                    <td class="td2"><div align="right">ORGANIZATION</div></td>
                                                    <td><em><strong>:</strong></em></td>
                                                    <td>{{ organisation }}</td>
                                                </tr>
                                                <tr>
                                                    <td class="td2"><div align="right">ORDER DATE</div></td>
                                                    <td><em><strong>:</strong></em></td>
                                                    <td>{{ order_date | date:'d/m/y' }}</td>
                                                    <td class="td2"><div align="right">JOIN DATE</div></td>
                                                    <td><em><strong>:</strong></em></td>
                                                    <td>{{ join_date | date:'d/m/y' }}</td>
                                                </tr>
                                                <tr>
                                                    <td class="td2"><div align="right">CADRE</div></td>
                                                    <td><em><strong>:</strong></em></td>
                                                    <td>{{ cadre }}</td>

                                                    <td class="td2"><div align="right">CADRE DATE</div></td>
                                                    <td><em><strong>:</strong></em></td>
                                                    <td>{{ cadre_date | date:'d/m/y' }}</td>
                                                </tr>
                                                <tr>
                                                    <td class="td2"><div align="right">BATCH</div></td>
                                                    <td><em><strong>:</strong></em></td>
                                                    <td>{{ batch }}</td>

                                                    <td class="td2"><div align="right">CONFIRMATION G.O. DATE</div></td>
                                                    <td><em><strong>:</strong></em></td>
                                                    <td>{{ confirmation_g_o_date | date:'d/m/y' }}</td>
                                                </tr>
                                                <tr>
                                                    <td class="td2"><div align="right">GENDER</div></td>
                                                    <td><em><strong>:</strong></em></td>
                                                    <td>{{ gender }}</td>

                                                    <td class="td2"><div align="right">RELIGION</div></td>
                                                    <td><em><strong>:</strong></em></td>
                                                    <td>{{ religion }}</td>
                                                </tr>
                                                <tr>
                                                    <td class="td2"><div align="right">MARITAL STAT</div></td>
                                                    <td><em><strong>:</strong></em></td>
                                                    <td><div align="left">{{ marital_stat }}</div></td>
                                                    <td class="td2"><div align="right">NID</div></td>
                                                    <td><em><strong>:</strong></em></td>
                                                    <td><div align="left">{{ nid }}</div></td>
                                                </tr>
                                                <tr>


                                                    <td class="td2"><div align="right">FREEDOM FIGHTER</div></td>
                                                    <td><em><strong>:</strong></em></td>
                                                    <td>{{ freedom_fighter }}</td>
                                                </tr>
                                                <tr>
                                                    <td class="td2"><div align="right">MOBILE</div></td>
                                                    <td><em><strong>:</strong></em></td>
                                                    <td>{{ mobile }}</td>

                                                    <td class="td2"><div align="right">EMAIL</div></td>
                                                    <td><em><strong>:</strong></em></td>
                                                    <td>{{ email }}</td>
                                                </tr>
                                            </tbody>
                                            </table>
                                        </td>
                                    </tr>

                                    <!------------------------------------------SPOUSE INFORMATION------------------------------------------>


                                    <tr>
                                        <td>
                                            <table width="100%">
                                                <tbody><tr>
                                                    <td id="gridDarkSh" colspan="9" class="td1">SPOUSE INFORMATION</td>
                                                </tr>
                                                <tr>


                                                    <td width="10%" class="td2"><div align="right">NAME</div></td>
                                                    <td width="2%"><em><strong>:</strong></em></td>
                                                    <td width="20%"><div align="left">{{ spouse.spouse_name }}</div></td>

                                                    <td width="15%" class="td2"><div align="right">OCCUPATION</div></td>
                                                    <td width="2%"><em><strong>:</strong></em></td>
                                                    <td width="15%"><div align="left">{{ spouse.occupation }}</div></td>

                                                    <td width="15%" class="td2"><div align="right">DESIGNATION</div></td>
                                                    <td width="2%"><em><strong>:</strong></em></td>
                                                    <td width="15%"><div align="left">{{ spouse.designation }}</div></td>
                                                </tr>
                                                <tr>
                                                    <td class="td2"><div align="right">HOME DIST</div></td>
                                                    <td><em><strong>:</strong></em></td>
                                                    <td><div align="left">{{ spouse.home_district }}</div></td>

                                                    <td class="td2"><div align="right">ORGANISATION</div></td>
                                                    <td><em><strong>:</strong></em></td>
                                                    <td><div align="left">{{ spouse.organisation }}</div></td>

                                                    <td class="td2"><div align="right">LOCATION</div></td>
                                                    <td><em><strong>:</strong></em></td>
                                                    <td><div align="left">{{ spouse.location }}</div></td>
                                                </tr>
                                            </tbody></table>
                                        </td>
                                    </tr>

                                    <!------------------------------------------ADDRESS INFORMATION------------------------------------------>


                                    <tr>
                                        <td>
                                            <table width="100%">
                                                <tbody><tr>
                                                    <td id="gridDarkSh" colspan="3" class="td1">PERMANENT ADDRESS</td>
                                                    <td id="gridDarkSh" colspan="3" class="td1">PRESENT ADDRESS</td>
                                                </tr>
                                                <tr>


                                                    <td width="24%" class="td2"><div align="right">VILLAGE/HOUSE NO.&amp; ROAD</div></td>
                                                    <td width="2%"><em><strong>:</strong></em></td>
                                                    <td width="24%"><div align="left">{{ permanent.village_or_house_or_road }}</div></td>

                                                    <td width="24%" class="td2"><div align="right">VILLAGE/HOUSE NO.&amp; ROAD</div></td>
                                                    <td width="2%"><em><strong>:</strong></em></td>
                                                    <td width="24%"><div align="left">{{ present.village_or_house_or_road }}</div></td>
                                                </tr>
                                                <tr>
                                                    <td class="td2"><div align="right">POST OFFICE</div></td>
                                                    <td><em><strong>:</strong></em></td>
                                                    <td><div align="left">{{ permanent.post_office }}</div></td>

                                                    <td class="td2"><div align="right">POST OFFICE</div></td>
                                                    <td><em><strong>:</strong></em></td>
                                                    <td><div align="left">{{ present.post_office }}</div></td>
                                                </tr>
                                                <tr>
                                                    <td class="td2"><div align="right">POLICE STATION</div></td>
                                                    <td><em><strong>:</strong></em></td>
                                                    <td><div align="left">{{ permanent.police_station }}</div></td>

                                                    <td class="td2"><div align="right">POLICE STATION</div></td>
                                                    <td><em><strong>:</strong></em></td>
                                                    <td><div align="left">{{ present.police_station }}</div></td>
                                                </tr>
                                                <tr>
                                                    <td class="td2"><div align="right">DISTRICT</div></td>
                                                    <td><em><strong>:</strong></em></td>
                                                    <td><div align="left">{{ permanent.district }}</div></td>

                                                    <td class="td2"><div align="right">DISTRICT</div></td>
                                                    <td><em><strong>:</strong></em></td>
                                                    <td><div align="left">{{ present.district }}</div></td>
                                                </tr>
                                                <tr>
                                                    <td class="td2"><div align="right">TELEPHONE NO.</div></td>
                                                    <td><em><strong>:</strong></em></td>
                                                    <td width="15"><div align="left">{{ permanent.telephone_no }}</div></td>

                                                    <td class="td2"><div align="right">TELEPHONE NO.</div></td>
                                                    <td><em><strong>:</strong></em></td>
                                                    <td width="15"><div align="left">{{ present.telephone_no }}</div></td>
                                                </tr>
                                            </tbody></table>
                                        </td>
                                    </tr>

                                    <!------------------------------------------CHILDREN INFORMATION------------------------------------------>
                                    <tr>
                                        <td>
                                            <table width="100%" border="0">
                                                <tbody>
                                                <tr>
                                                    <td id="gridDarkSh" colspan="3" class="td1">CHILDREN INFORMATION</td>
                                                </tr>
                                                <tr>
                                                    <td width="30%" class="td3">NAME</td>
                                                    <td width="20%" class="td3">BIRTH DATE</td>
                                                    <td width="50%" class="td3">SEX</td>
                                                </tr>
                                                {% for p in child %}
                                                    <tr>
                                                        <td>{{ p.child_name }}</td>
                                                        <td>{{ p.date_of_birth | date:'d/m/y' }}</td>
                                                        <td>{{ p.gender }}</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <!------------------------------------------OFFICERS LANGUAGE INFORMATION------------------------------------------>
                                    <tr>
                                        <td>
                                            <table width="100%">
                                                <tbody>
                                                <tr>
                                                    <td id="gridDarkSh" colspan="4" class="td1">OFFICER'S LANGUAGE INFORMATION</td>
                                                </tr>
                                                <tr>
                                                    <td width="20%" class="td3">LANGUAGE</td>
                                                    <td width="10%" class="td3">READ</td>
                                                    <td width="10%" class="td3">WRITE</td>
                                                    <td width="60%" class="td3">SPEAK</td>
                                                </tr>
                                                {% for p in language %}
                                                    <tr>
                                                        <td>{{ p.language_name }}</td>
                                                        <td>{{ p.read }}</td>
                                                        <td>{{ p.write }}</td>
                                                        <td>{{ p.speak }}</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <!------------------------------------------EDUCATIONAL QUALIFICATION------------------------------------------>
                                    <tr>
                                        <td>
                                            <table width="100%" align="center">
                                                <tbody>
                                                <tr>
                                                    <td id="gridDarkSh" colspan="7" class="td1">EDUCATIONAL QUALIFICATION</td>
                                                </tr>
                                                <tr>
                                                    <td width="25%" class="td3">NAME OF INSTITUTION</td>
                                                    <td width="20%" class="td3">PRINCIPAL SUBJECT</td>
                                                    <td width="10%" class="td3">DEGREE</td>
                                                    <td width="15%" class="td3">PASSING YEAR</td>
                                                    <td width="10%" class="td3">RESULT</td>
                                                    <td width="10%" class="td3">GPA/CGPA</td>
                                                    <td width="10%" class="td3">DISTINCTION</td>
                                                </tr>
                                                {% for p in education %}
                                                    <tr>
                                                        <td>{{ p.name_of_institution }}</td>
                                                        <td>{{ p.principal_subject }}</td>
                                                        <td>{{ p.degree }}</td>
                                                        <td>{{ p.passing_year }}</td>
                                                        <td>{{ p.result }}</td>
                                                        <td>{{ p.gpa_or_cgpa }}</td>
                                                        <td>{{ p.distinction }}</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <!------------------------------------------LOCAL TRAINING (MANDATORY)------------------------------------------>
                                    <tr>
                                        <td>
                                            <table width="100%" align="center">
                                                <tbody><tr>
                                                    <td colspan="5" class="td1">LOCAL TRAINING (MANDATORY)</td>
                                                </tr>
                                                <tr>
                                                    <td width="43%" class="td3">COURSE TITLE</td>
                                                    <td width="25%" class="td3">INSTITUTION</td>
                                                    <td width="8%" class="td3">POSITION</td>
                                                    <td width="12%" class="td3">FROM DATE</td>
                                                    <td width="10%" class="td3">TO DATE</td>
                                                    <td width="10%" class="td3">DURATION (Y-M-D)</td>
                                                </tr>
                                                {% for p in training_local_mandatory %}
                                                    <tr>
                                                        <td>{{ p.course_title }}</td>
                                                        <td>{{ p.institution }}</td>
                                                        <td>{{ p.position }}</td>
                                                        <td>{{ p.from_date | date:'d/m/y' }}</td>
                                                        <td>{{ p.to_date | date:'d/m/y' }}</td>
                                                        <td>{{ 'Duration' }}</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>

                                    <!------------------------------------------LOCAL TRAINING------------------------------------------>
                                    <tr>
                                        <td>
                                            <table width="100%" align="center">
                                                <tbody><tr>
                                                    <td colspan="5" class="td1">LOCAL TRAINING</td>
                                                </tr>
                                                <tr>
                                                    <td width="43%" class="td3">COURSE TITLE</td>
                                                    <td width="25%" class="td3">INSTITUTION</td>
                                                    <td width="8%" class="td3">POSITION</td>
                                                    <td width="12%" class="td3">FROM DATE</td>
                                                    <td width="10%" class="td3">TO DATE</td>
                                                    <td width="10%" class="td3">DURATION (Y-M-D)</td>
                                                </tr>
                                                {% for p in training_local %}
                                                    <tr>
                                                        <td>{{ p.course_title }}</td>
                                                        <td>{{ p.institution }}</td>
                                                        <td>{{ p.position }}</td>
                                                        <td>{{ p.from_date | date:'d/m/y' }}</td>
                                                        <td>{{ p.to_date | date:'d/m/y' }}</td>
                                                        <td>{{ 'Duration' }}</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <!------------------------------------------FOREIGN TRAINING------------------------------------------>
                                    <tr>
                                        <td>
                                            <table width="100%" align="center">
                                                <tbody><tr>
                                                    <td colspan="5" class="td1">FOREIGN TRAINING</td>
                                                </tr>
                                                <tr>
                                                    <td width="43%" class="td3">COURSE TITLE</td>
                                                    <td width="25%" class="td3">COUNTRY</td>
                                                    <td width="12%" class="td3">FROM DATE</td>
                                                    <td width="10%" class="td3">TO DATE</td>
                                                    <td width="10%" class="td3">DURATION (Y-M-D)</td>
                                                </tr>
                                                {% for p in training_foreign %}
                                                    <tr>
                                                        <td>{{ p.course_title }}</td>
                                                        <td>{{ p.country }}</td>
                                                        <td>{{ p.from_date | date:'d/m/y' }}</td>
                                                        <td>{{ p.to_date | date:'d/m/y' }}</td>
                                                        <td>{{ 'Duration' }}</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>

                                    <!------------------------------------------FOREIGN TRAVEL------------------------------------------>
                                    <tr>
                                        <td>
                                            <table width="100%" align="center" border="0">
                                                <tbody>
                                                <tr>
                                                    <td colspan="5" class="td1">FOREIGN TRAVEL</td>
                                                </tr>
                                                <tr>
                                                    <td width="20%" class="td3">COUNTRY</td>
                                                    <td width="20%" class="td3">PURPOSE</td>
                                                    <td width="12%" class="td3">FROM DATE</td>
                                                    <td width="12%" class="td3">TO DATE</td>
                                                    <td width="36%" class="td3">DURATION (Y-M-D)</td>
                                                </tr>
                                                {% for p in travel %}
                                                    <tr>
                                                        <td>{{ p.country }}</td>
                                                        <td>{{ p.purpose }}</td>
                                                        <td>{{ p.from_date | date:'d/m/y' }}</td>
                                                        <td>{{ p.to_date | date:'d/m/y' }}</td>
                                                        <td>{{ 'Duration' }}</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <!------------------------------------------POSTING ABROAD------------------------------------------>
                                    <tr>
                                        <td>
                                            <table width="100%" align="center">
                                                <tbody>
                                                <tr>
                                                    <td id="gridDarkSh" colspan="5" class="td1">POSTING ABROAD</td>
                                                </tr>
                                                <tr>
                                                    <td width="28%" class="td3">POST</td>
                                                    <td width="30%" class="td3">ORGANISATION</td>
                                                    <td width="20%" class="td3">COUNTRY</td>
                                                    <td width="12%" class="td3">FROM</td>
                                                    <td width="10%" class="td3">TO</td>
                                                </tr>
                                                {% for p in abroad %}
                                                    <tr>
                                                        <td>{{ p.post }}</td>
                                                        <td>{{ p.organisation }}</td>
                                                        <td>{{ p.country }}</td>
                                                        <td>{{ p.from_date | date:'d/m/y' }}</td>
                                                        <td>{{ p.to_date | date:'d/m/y' }}</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>

                                    <!------------------------------------------ADDITIONAL PROFESSIONAL QUALIFICATION------------------------------------------>
                                    <tr>
                                        <td>
                                            <table width="100%" align="center">
                                                <tbody>
                                                <tr>
                                                    <td id="gridDarkSh" colspan="1" class="td1">ADDITIONAL PROFESSIONAL QUALIFICATION</td>
                                                </tr>
                                                <tr>
                                                    <td width="100%" class="td3">QUALIFICATION</td>
                                                </tr>
                                                {% for p in qualification %}
                                                    <tr>
                                                        <td>{{ p.qualification }}</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>

                                    <!------------------------------------------PUBLICATION------------------------------------------>
                                    <tr>
                                        <td>
                                            <table width="100%" align="center">
                                                <tbody>
                                                <tr>
                                                    <td id="gridDarkSh" colspan="6" class="td1">PUBLICATION</td>
                                                </tr>
                                                <tr>
                                                    <td width="10%" class="td3">BOOKS</td>
                                                    <td width="10%" class="td3">PERIODICALS</td>
                                                    <td width="10%" class="td3">MONOGRAPH</td>
                                                    <td width="10%" class="td3">JOURNALS</td>
                                                    <td width="50%" class="td3">DESCRIPTION</td>
                                                    <td width="10%" class="td3">DATE</td>
                                                </tr>
                                                {% for p in publication %}
                                                    <tr>
                                                        <td>{{ p.books }}</td>
                                                        <td>{{ p.periodicals }}</td>
                                                        <td>{{ p.monograph }}</td>
                                                        <td>{{ p.journals }}</td>
                                                        <td>{{ p.description }}</td>
                                                        <td>{{ p.date | date:'d/m/y' }}</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>

                                    <!------------------------------------------HONOURS AND AWARD------------------------------------------>
                                    <tr>
                                        <td>
                                            <table width="100%" align="center">
                                                <tbody>
                                                <tr>
                                                    <td id="gridDarkSh" colspan="3" class="td1">HONOURS AND AWARD</td>
                                                </tr>
                                                <tr>
                                                    <td width="50%" class="td3">TITLE OF AWARD</td>
                                                    <td width="40%" class="td3">GROUND</td>
                                                    <td width="10%" class="td3">DATE</td>
                                                </tr>
                                                {% for p in honour %}
                                                    <tr>
                                                        <td>{{ p.title }}</td>
                                                        <td>{{ p.ground }}</td>
                                                        <td>{{ p.date | date:'d/m/y' }}</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>

                                    <!------------------------------------------OTHER SERVICES (PRIOR CIVILIAN GAZETTED POST/RANK)------------------------------------------>
                                    <tr>
                                        <td>
                                            <table width="100%" align="center">
                                                <tbody><tr>
                                                    <td id="gridDarkSh" colspan="6" class="td1">OTHER SERVICES (PRIOR CIVILIAN GAZETTED POST/RANK)</td>
                                                </tr>
                                                <tr>
                                                    <td width="20%" class="td3">NAME OF EMPLOYEER</td>
                                                    <td width="30%" class="td3">ADDRESS</td>
                                                    <td width="20%" class="td3">TYPE OF SERVICE</td>
                                                    <td width="10%" class="td3">POSITION</td>
                                                    <td width="10%" class="td3">FROM</td>
                                                    <td width="10%" class="td3">TO</td>
                                                </tr>
                                                {% for p in other %}
                                                    <tr>
                                                        <td>{{ p.name_of_employeer }}</td>
                                                        <td>{{ p.address }}</td>
                                                        <td>{{ p.type_of_service }}</td>
                                                        <td>{{ p.position }}</td>
                                                        <td>{{ p.from | date:'d/m/y' }}</td>
                                                        <td>{{ p.to | date:'d/m/y' }}</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>

                                    <!------------------------------------------SERVICE HISTORY------------------------------------------>
                                    <tr>
                                        <td>
                                            <table width="100%" align="center">
                                                <tbody>
                                                <tr>
                                                    <td id="gridDarkSh" colspan="5" class="td1">SERVICE HISTORY</td>
                                                </tr>
                                                <tr>
                                                    <td width="20%" class="td3">GOVT. SERVICE DATE</td>
                                                    <td width="16%" class="td3">GAZETTED DATE</td>
                                                    <td width="18%" class="td3">ENCADREMENT DATE</td>
                                                    <!--<td width="18%" class="td3">SENIORITY DATE</td>-->
                                                    <td width="28%" class="td3">CADRE</td>
                                                </tr>
                                                {% for p in service %}
                                                    <tr>
                                                        <td>{{ p.govt_service_date | date:'d/m/y' }}</td>
                                                        <td>{{ p.gazetted_date | date:'d/m/y' }}</td>
                                                        <td>{{ p.encadrement_date | date:"d/m/y" }}</td>
                                                        <td>{{ p.cadre }}</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>

                                    <!------------------------------------------PROPOTION PARTICULARS------------------------------------------>
                                    <tr>
                                        <td>
                                            <table width="100%" align="center">
                                                <tbody>
                                                <tr>
                                                    <td id="gridDarkSh" colspan="5" class="td1">PROMOTION PARTICULARS</td>
                                                </tr>
                                                <tr>
                                                    <td width="40%" class="td3">RANK</td>
                                                    <td width="15%" class="td3">PROMOTION DATE</td>
                                                    <td width="10%" class="td3">G.O. DATE</td>
                                                    <td width="20%" class="td3">NATURE OF PROMOTION</td>
                                                    <td width="15%" class="td3">PAY SCALE</td>
                                                </tr>
                                                {% for p in promotion %}
                                                    <tr>
                                                        <td>{{ p.rank }}</td>
                                                        <td>{{ p.promotion_date | date:'d/m/y' }}</td>
                                                        <td>{{ p.g_o_date | date:"d/m/y" }}</td>
                                                        <td>{{ p.nature_of_promotion }}</td>
                                                        <td>{{ p.pay_scale }}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <!------------------------------------------DISCIPLINARY ACTIONS/CRIMINAL PROSECUTION------------------------------------------>
                                    <tr>
                                        <td>
                                            <table width="100%" align="center">
                                                <tbody>
                                                <tr>
                                                    <td id="gridDarkSh" colspan="4" class="td1">DISCIPLINARY ACTIONS/CRIMINAL PROSECUTION</td>
                                                </tr>
                                                <tr>
                                                    <td width="30%" class="td3">NATURE OF OFFENCE</td>
                                                    <td width="42%" class="td3">PUNISHMENT</td>
                                                    <td width="8%" class="td3">DATE</td>
                                                    <td width="20%" class="td3">REMARKS</td>
                                                </tr>
                                                {% for p in prosecution %}
                                                    <tr>
                                                        <td>{{ p.nature_of_offence }}</td>
                                                        <td>{{ p.punishment }}</td>
                                                        <td>{{ p.date | date:"d/m/y" }}</td>
                                                        <td>{{ p.remarks }}</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <!------------------------------------------POSTING RECORDS------------------------------------------>

                                    <tr>
                                        <td>
                                            <table width="100%" align="center" border="0">
                                                <tbody>
                                                <tr>
                                                    <td id="gridDarkSh" colspan="6" class="td1">POSTING RECORDS</td>
                                                </tr>
                                                <tr>
                                                    <td width="30%" class="td3">DESIGNATION</td>
                                                    <td width="33%" class="td3">ORGANIZATION</td>
                                                    <td width="15%" class="td3">LOCATION</td>
                                                    <td width="12%" class="td3">FROM DATE</td>
                                                    <td width="10%" class="td3">TO DATE</td>
                                                    <td width="10%" class="td3">PAY SCALE</td>
                                                </tr>
                                                {% for p in posting %}
                                                    <tr>
                                                        <td>{{ p.designation }}</td>
                                                        <td>{{ p.organisation }}</td>
                                                        <td>{{ p.location }}</td>
                                                        <td>{{ p.from_date | date:"d/m/y" }}</td>
                                                        <td>{{ p.to_date | date:"d/m/y" }}</td>
                                                        <td>{{ p.pay_scale }}</td>
                                                    </tr>
                                                {% endfor %}

                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>

                                    <tr>
                                            <td>
                                                <table width="100%" align="center" border="0">
                                                    <tbody>
                                                    <tr>
                                                        <td colspan="3" width="70%" class="td3"></td>
                                                        <td width="15%" class="td3">ORDER DATE</td>
                                                        <td width="12%" class="td3">JOIN DATE</td>
                                                        <td width="10%" class="td3">RELEASE DATE</td>
                                                        <td width="10%" class="td3">PAY SCALE</td>
                                                    </tr>
                                                    {% for p in recent %}
                                                        <tr>
                                                            <td>{{ p.designation }}</td>
                                                            <td>{{ p.organisation }}</td>
                                                            <td>{{ p.location }}</td>
                                                            <td>{{ p.order_date | date:"d/m/y" }}</td>
                                                            <td>{{ p.join_date | date:"d/m/y" }}</td>
                                                            <td>{{ p.release_date | date:"d/m/y" }}</td>
                                                            <td>{{ p.pay_scale }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </td>
                                    </tr>

                                </tbody>
                                </table>
                                <table align="right" width="100%" border="0">
                                            <tbody><tr><td width="60%"></td><th><div align="center"><br><br><br><br>Signature &amp; Seal of Officer <br>Whose Particulars has been printed<br><br></div></th></tr>
                                            </tbody></table>

                                <table width="650" align="center">
                                                    <tbody><tr><th>Last Update : 23/11/23 Time : 21:28:55</th></tr>
                                </tbody></table>
                                </div>
                            </fieldset>
						</td>
						<td width="10">&nbsp;</td>
					</tr>
				</tbody>
                </table>
			</td>
		</tr>
        <!--
		<tr>
			<td background="http://pmis.mopa.gov.bd/pmis/image/bgMiddle.png">
				<table width="898">
					<tbody>
                        <tr>
                            <td width="10">&nbsp;</td>
                            <td height="54" background="http://pmis.mopa.gov.bd/pmis/image/footer.png"><div align="center"> <font size="-2"> Last Update: 23/11/2023, 21:28:55<br>©
                                2008 <a href="http://www.mopa.gov.bd" target="_aboutblank">Ministry of Public Administration</a> <br>Powered by: <a href="http://www.datasoft-bd.com" target="_blank">DataSoft Systems Bangladesh Ltd.</a></font></div></td>
                            <td width="10">&nbsp;</td>
                        </tr>
				    </tbody>
                </table>
			</td>
		</tr>
		<tr>
			<td><img src="http://pmis.mopa.gov.bd/pmis/image/bgDown.png"></td>
		</tr>
		-->
	</tbody>
</table>


</body>
</html>